/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0 auto;
}
#wrapper{
	width: 1280px;
	height: 3000px;
	margin: 0 auto;
}
.header{
	width: 1280px;
	height: 130px;
	background: #F9EFED;
}
.header img{
	height: 50px; 
	margin-left: 50px;
	margin-top: 35px;
	float:left
}
.header .menu{
	width: 850px;
	height: 120px;
	float: left;
}
.header .menu ul{
	list-style:none;
	margin-top: 40px;
	margin-left: 200px;
}
.header .menu ul li{
	float: left;
	margin-left: 60px;
}
.header .menu ul li a{
	color: black;
	text-decoration: none;
	font-family: font;
	font-size: 13pt;
}
.header .menu ul li:hover{
}
.header .menu ul li a:hover{
	font-family: custom-font;
	color: #C07558 ;
}
.content{
	width: 1280px;
	height: 3200px;
}
.content .vechungtoi{
	width: 100%;
	height: 744px;
	margin-left: 50px;
}
.content .vechungtoi img{
	width: 850px;
	float: right;
	margin-right: 50px;
}

.content .vechungtoi .text {
	font-family: custom-font;
	padding-top: 200px;
/*	margin-bottom: 200px;*/
	color: #C07558 ;
	font-size: 40px; 
	margin-left: 20p
}
.content .vechungtoi .text1{
	width: 350px;
	height: 50px;
	padding-top: 10px;
	font-family: chu;
}
.box{
	width: 120px;
	height: 35px;
	background: #C07558;
/*	margin-top: 200px;*/
	padding-top: 10px;
	padding-left: 40px;
	margin-top: 250px;
	font-family: chu;
}
.datnhieunhat{
	width: 1280px;
	height: 720px;
	background: white;
}
.datnhieunhat .datnhieunhatvabox{
	margin-left: 100px;
	padding-top: 50px;
}
.datnhieunhat .tieude{
	width: 1280px;
	height: 20px;
	text-align: center;
	padding-top: 20px;
	font-family: custom-font;
}
.boxicon{
	width: 50px;
	height: 50px;
	background: #C07558; 
	margin-left: 400px;
	float: left;
	margin-top: 10px;
}
.datnhieunhat img{
	height: 60px;
	margin-left: -15px;
	margin-top: -5px;
}
.datnhieunhat .dnn{
	margin-left: 20px;
	float: left;
	font-family: custom-font;
	margin-top: 2px;
}
.content .datnhieunhat .box-outer{
	width: 1080px;
	height: 500px;
	margin-top: 50px;
	margin-left: 100px;
}
.content .datnhieunhat .box-outer .boxdnn{
	width: 350px;
	height: 400px;
	float: left;
	margin-left: 10px;
	margin-top: 50px;
}
.content .datnhieunhat .box-outer .boxdnn img{
	width: 350px;
	height: 400px;
	float: left;
	margin-left: 1px;
	margin-top: 1px;
}
.content .datnhieunhat .boxtext{
	width: 1080px;
	height: 100px;
	margin-top: 1px;
	margin-left: 80px;
/*	text-align: center;*/
}
.content .datnhieunhat .boxtext .boxtext1{
	width: 190px;
	height: 50px;
	float: left;
	margin-left: 165px;
	font-family: chu;
/*	margin-top: 1px;*/
}
.sanpham{
	width: 1280px;
	height: 600px;
	background: white;
}
.sanpham img{
	width: 550px;
	margin-left:680px;
	float: left;
	margin-top: -350px;
}
.sanpham .boxsanpham{
	width: 630px;
	height: 480px;
	background: #F9EFED;
	margin-left: 100px;
	margin-top: 100px;
}

.sanpham .boxsanpham h1{
	padding-top: 30px;
	margin-left: 50px;
	font-family: custom-font;
}
.noidungsp{
	width: 500px;
	margin-left: 50px;
	margin-top: 30px;
	font-family: custom-font;
}
.noidungsp p{
	font-size: 15pt;
	margin-top: 10px;
	font-family: chu;
}
.dienhoa{
	width: 1280px;
	height: 800px;
	background: white;
}
.dienhoa .dienhoa-right{
	width: 700px;
	height: 700px;
/*	*/
	float: left;
	margin-left: 580px;
}
.dienhoa .dienhoa-right img{
	width: 600px;
	margin-top: 40px;
}
.dienhoa .dienhoa-right .vien1{
	width: 400px;
	height: 80px;
	background: #C07558;
	margin-top: -750px;
	margin-left: 270px;
}
.dienhoa .dienhoa-right .vien2{
	width: 400px;
	height: 80px;
	background: #C07558;
	margin-top: 630px;
	margin-left: -80px;
}
.dienhoavien{
	width: 400px;
	height: 0px;
/*	margin-top: 30px;*/
}
.dienhoa .dienhoavien h1{
	margin-top: 60px;
	margin-left: 4px;
}
.dienhoa .dienhoavien p{
	margin-top: 10px;
}

.footer{
	width: 1280px;
	height: 300px;
	text-align: center;
}
.footer .ingta{
	width: 1280px;
	height: 100px;
}
.footer .ingta .icon{
	width: 50px;
	height: 50px;
	background: #C07558;
	margin-left: 340px;
}
.footer .ingta .icon img{
	width: 80px;
	margin-left: -15px;
	margin-top: -8px;
}
.footer .theodoi h1{
	margin-top: -80px;
	font-family: custom-font;
}
.footer .lienhe{
	width: 1280px;
	height: 180px;
	background: #F9EFED;
	padding-top: 10px;
	margin-top: 20px;
}
.footer .lienhe img{
	height: 50px;
	margin-left: -900px;
	margin-top: 50px;
}.footer .lienhe p{
	margin-top: -50px;
}

